html {
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  background: #F4F4F4; }

a {
  color: #6FBBB7;
  text-decoration: none; }

nav,
main > section,
main > aside {
  background: #fff;
  color: #878787; }

nav {
  margin-bottom: 1em;
  overflow: hidden;
  color: #878787; }
  nav img {
    display: block;
    float: left;
    margin: 1em 0 0 1em;
    width: 48px; }
  nav .main-nav {
    color: #878787;
    float: left;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 0 0 0 -1em;
    overflow: hidden; }
    nav .main-nav a {
      color: #E0393E;
      font-size: 1.5rem;
      font-weight: bold; }
  nav .nav-login {
    overflow: hidden; }
    nav .nav-login ul {
      float: right; }
      nav .nav-login ul a {
        color: #878787; }
      nav .nav-login ul i {
        color: #878787;
        font-size: 1.75em; }
      nav .nav-login ul img {
        border-radius: 50%;
        width: 30px; }
  nav ul {
    overflow: hidden; }
  nav li {
    display: inline-block;
    list-style: none;
    padding: 0.1em; }

main {
  margin: 0 auto;
  overflow: hidden;
  width: 75%; }

header img {
  height: 100%; }
header nav {
  border-bottom: 1px solid #878787;
  border-right: 1px solid #878787;
  border-left: 1px solid #878787;
  margin-top: -0.5em; }
header ul {
  margin-left: -2rem; }
  header ul a {
    color: #878787;
    margin: 0.75em; }

.left-sidebar,
.main,
.right-sidebar {
  border: 1px solid #878787;
  padding: 1rem; }

.left-sidebar .prof-photo {
  margin: 0 auto;
  width: 180px; }
.left-sidebar .btn {
  text-align: center;
  padding: 0.6rem; }
  .left-sidebar .btn:nth-child(4) {
    margin-top: 0.5rem; }
.left-sidebar ul {
  font-size: 13px;
  padding: 0;
  overflow: hidden; }
.left-sidebar li.line {
  border-top: 1px solid #eee;
  list-style: none;
  overflow: hidden;
  padding-top: 6px; }
.left-sidebar .tags li {
  display: inline; }
.left-sidebar .organizers {
  overflow: hidden; }
  .left-sidebar .organizers img {
    float: right; }
  .left-sidebar .organizers a {
    line-height: 1.6; }
    .left-sidebar .organizers a:first-child {
      font-weight: bold; }
  .left-sidebar .organizers .btn {
    margin: 1rem 0 0 0; }

.main article {
  overflow: hidden; }
.main ul {
  list-style: none;
  padding: 0; }
.main h2 {
  color: #000;
  font-size: 2rem;
  margin-top: 0; }
.main img {
  width: 30px; }
.main .tbar {
  background: #f4f4f4;
  display: block;
  padding: 1rem; }
  .main .tbar:first-child {
    text-transform: uppercase; }
  .main .tbar:nth-child(2) {
    margin-top: 0.2rem; }
    .main .tbar:nth-child(2) a:first-child {
      background: #fff;
      border: 1px solid #e6e6e6;
      border-bottom: none;
      padding: 1rem; }
  .main .tbar i {
    color: black; }
.main .btn {
  background: #f4f4f4;
  border: 2px solid #eee;
  padding: 0.3rem; }

.right-sidebar {
  overflow: hidden; }
  .right-sidebar div {
    overflow: hidden; }
    .right-sidebar div img {
      float: right;
      width: 30px; }

footer {
  background: #353E48; }

.btn {
  background: #EEEEEE;
  display: block; }

@media (min-width: 900px) {
  .col-lg-1 {
    float: left;
    margin-right: 2%;
    width: 6.5%; }
    .col-lg-1:last-child {
      margin-right: 0; }

  .col-lg-2 {
    float: left;
    margin-right: 2%;
    width: 15%; }
    .col-lg-2:last-child {
      margin-right: 0; }

  .col-lg-3 {
    float: left;
    margin-right: 2%;
    width: 23.5%; }
    .col-lg-3:last-child {
      margin-right: 0; }

  .col-lg-4 {
    float: left;
    margin-right: 2%;
    width: 32%; }
    .col-lg-4:last-child {
      margin-right: 0; }

  .col-lg-5 {
    float: left;
    margin-right: 2%;
    width: 40.5%; }
    .col-lg-5:last-child {
      margin-right: 0; }

  .col-lg-6 {
    float: left;
    margin-right: 2%;
    width: 49%; }
    .col-lg-6:last-child {
      margin-right: 0; }

  .col-lg-7 {
    float: left;
    margin-right: 2%;
    width: 57.5%; }
    .col-lg-7:last-child {
      margin-right: 0; }

  .col-lg-8 {
    float: left;
    margin-right: 2%;
    width: 66%; }
    .col-lg-8:last-child {
      margin-right: 0; }

  .col-lg-9 {
    float: left;
    margin-right: 2%;
    width: 74.5%; }
    .col-lg-9:last-child {
      margin-right: 0; }

  .col-lg-10 {
    float: left;
    margin-right: 2%;
    width: 83%; }
    .col-lg-10:last-child {
      margin-right: 0; }

  .col-lg-11 {
    float: left;
    margin-right: 2%;
    width: 91.5%; }
    .col-lg-11:last-child {
      margin-right: 0; }

  .col-lg-12 {
    float: left;
    margin-right: 2%;
    width: 100%; }
    .col-lg-12:last-child {
      margin-right: 0; } }
@media (min-width: 650px) {
  .col-md-1 {
    float: left;
    margin-right: 2%;
    width: 6.5%; }
    .col-md-1:last-child {
      margin-right: 0; }

  .col-md-2 {
    float: left;
    margin-right: 2%;
    width: 15%; }
    .col-md-2:last-child {
      margin-right: 0; }

  .col-md-3 {
    float: left;
    margin-right: 2%;
    width: 23.5%; }
    .col-md-3:last-child {
      margin-right: 0; }

  .col-md-4 {
    float: left;
    margin-right: 2%;
    width: 32%; }
    .col-md-4:last-child {
      margin-right: 0; }

  .col-md-5 {
    float: left;
    margin-right: 2%;
    width: 40.5%; }
    .col-md-5:last-child {
      margin-right: 0; }

  .col-md-6 {
    float: left;
    margin-right: 2%;
    width: 49%; }
    .col-md-6:last-child {
      margin-right: 0; }

  .col-md-7 {
    float: left;
    margin-right: 2%;
    width: 57.5%; }
    .col-md-7:last-child {
      margin-right: 0; }

  .col-md-8 {
    float: left;
    margin-right: 2%;
    width: 66%; }
    .col-md-8:last-child {
      margin-right: 0; }

  .col-md-9 {
    float: left;
    margin-right: 2%;
    width: 74.5%; }
    .col-md-9:last-child {
      margin-right: 0; }

  .col-md-10 {
    float: left;
    margin-right: 2%;
    width: 83%; }
    .col-md-10:last-child {
      margin-right: 0; }

  .col-md-11 {
    float: left;
    margin-right: 2%;
    width: 91.5%; }
    .col-md-11:last-child {
      margin-right: 0; }

  .col-md-12 {
    float: left;
    margin-right: 2%;
    width: 100%; }
    .col-md-12:last-child {
      margin-right: 0; } }
.col-sm-1 {
  float: left;
  margin-right: 2%;
  width: 6.5%; }
  .col-sm-1:last-child {
    margin-right: 0; }

.col-sm-2 {
  float: left;
  margin-right: 2%;
  width: 15%; }
  .col-sm-2:last-child {
    margin-right: 0; }

.col-sm-3 {
  float: left;
  margin-right: 2%;
  width: 23.5%; }
  .col-sm-3:last-child {
    margin-right: 0; }

.col-sm-4 {
  float: left;
  margin-right: 2%;
  width: 32%; }
  .col-sm-4:last-child {
    margin-right: 0; }

.col-sm-5 {
  float: left;
  margin-right: 2%;
  width: 40.5%; }
  .col-sm-5:last-child {
    margin-right: 0; }

.col-sm-6 {
  float: left;
  margin-right: 2%;
  width: 49%; }
  .col-sm-6:last-child {
    margin-right: 0; }

.col-sm-7 {
  float: left;
  margin-right: 2%;
  width: 57.5%; }
  .col-sm-7:last-child {
    margin-right: 0; }

.col-sm-8 {
  float: left;
  margin-right: 2%;
  width: 66%; }
  .col-sm-8:last-child {
    margin-right: 0; }

.col-sm-9 {
  float: left;
  margin-right: 2%;
  width: 74.5%; }
  .col-sm-9:last-child {
    margin-right: 0; }

.col-sm-10 {
  float: left;
  margin-right: 2%;
  width: 83%; }
  .col-sm-10:last-child {
    margin-right: 0; }

.col-sm-11 {
  float: left;
  margin-right: 2%;
  width: 91.5%; }
  .col-sm-11:last-child {
    margin-right: 0; }

.col-sm-12 {
  float: left;
  margin-right: 2%;
  width: 100%; }
  .col-sm-12:last-child {
    margin-right: 0; }

/*# sourceMappingURL=styles.css.map */
