$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;
$accent-color: #E0393E;
$a-color: #6FBBB7;
$text-bg: #eee;
$block-color: #fff;

$ind-col-width: (($tot-width) - ($gut-width) * ($num-col - 1)) / $num-col;

@mixin grid($geezy) {
  float: left;
  margin-right: $gut-width;
  width: $geezy * $ind-col-width + $gut-width * ($geezy - 1);
  
  &:last-child {
    margin-right: 0;
  }
}

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
}
a {
  color: $a-color;
  text-decoration: none;
}

//nav

nav,
main > section,
main > aside {
  background: $block-color;
  color: #878787;
}

nav {
  margin-bottom: 1em;
  overflow: hidden;
  color: #878787;
  img {
      display: block;
      float: left;
      margin: 1em 0 0 1em;
      width: 48px;
    }
  .main-nav {
    color: #878787;
    float: left;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 0 0 0 -1em;
    overflow: hidden;

    a {
      color: #E0393E;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .nav-login {
    overflow: hidden;

    ul {
      float: right;
      a {
        color: #878787;
      }
      i {
        color: #878787;
        font-size: 1.75em;
      }
      img {
        border-radius: 50%;
        width: 30px;
      }
    }
  }
  ul {
    overflow: hidden;
  }
  li {
    display: inline-block;
    list-style: none;
    padding: 0.1em;
  }
}

//main

main {
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
}

//header

header {
  img {
    height: 100%;
  }
  nav {
    border-bottom: 1px solid #878787;
    border-right: 1px solid #878787;
    border-left: 1px solid #878787;
    margin-top: -0.5em;
  }
  ul {
    margin-left: -2rem;
    a {
      color: #878787;
      margin: 0.75em;
    }
  }
}

.left-sidebar,
.main,
.right-sidebar {
  border: 1px solid #878787;
  padding: 1rem;
}

//left sidebar

.left-sidebar {

  .prof-photo {
    margin: 0 auto;
    width: 180px;
  }

  .btn {
    text-align: center;
    padding: 0.6rem;

    &:nth-child(4) {
      margin-top: 0.5rem;
    }
  }

  ul {
    font-size: 13px;
    padding: 0;
    overflow: hidden;

  }

  li.line {
    border-top: 1px solid #eee;
    list-style: none;
    overflow: hidden;
    padding-top: 6px;

  }
  .tags li {
    display: inline;
  }
  .organizers {
    overflow: hidden;
    img {
      float: right;
    }
    a {
      line-height: 1.6;

      &:first-child {
        font-weight: bold;
      }
    }
    .btn {
      margin: 1rem 0 0 0;
    }
  }
}

//main

.main {

  article {
    overflow: hidden;
  }

  ul {
    list-style: none;
  }
}

//footer

footer {
    background: #353E48;
}

//extra styles

.btn {
  background: #EEEEEE;
  display: block;

}

//large screen styles

@media (min-width: 900px) {
  .col-lg-1 {
    @include grid(1);
  }
  .col-lg-2 {
    @include grid(2);
  }
  .col-lg-3 {
    @include grid(3);
  }
  .col-lg-4 {
    @include grid(4);
  }
  .col-lg-5 {
    @include grid(5);
  }
  .col-lg-6 {
    @include grid(6);
  }
  .col-lg-7 {
    @include grid(7);
  }
  .col-lg-8 {
    @include grid(8);
  }
  .col-lg-9 {
    @include grid(9);
  }
  .col-lg-10 {
    @include grid(10);
  }
  .col-lg-11 {
    @include grid(11);
  }
  .col-lg-12 {
    @include grid(12);
  }
}

//medium screen styles

@media (min-width: 650px) {
  .col-md-1 {
    @include grid(1);
  }
  .col-md-2 {
    @include grid(2);
  }
  .col-md-3 {
    @include grid(3);
  }
  .col-md-4 {
    @include grid(4);
  }
  .col-md-5 {
    @include grid(5);
  }
  .col-md-6 {
    @include grid(6);
  }
  .col-md-7 {
    @include grid(7);
  }
  .col-md-8 {
    @include grid(8);
  }
  .col-md-9 {
    @include grid(9);
  }
  .col-md-10 {
    @include grid(10);
  }
  .col-md-11 {
    @include grid(11);
  }
  .col-md-12 {
    @include grid(12);
  }
}

//mobile styles

.col-sm-1 {
  @include grid(1);
}
.col-sm-2 {
  @include grid(2);
}
.col-sm-3 {
  @include grid(3);
}
.col-sm-4 {
  @include grid(4);
}
.col-sm-5 {
  @include grid(5);
}
.col-sm-6 {
  @include grid(6);
}
.col-sm-7 {
  @include grid(7);
}
.col-sm-8 {
  @include grid(8);
}
.col-sm-9 {
  @include grid(9);
}
.col-sm-10 {
  @include grid(10);
}
.col-sm-11 {
  @include grid(11);
}
.col-sm-12 {
  @include grid(12);
}










